{
    "settings": {
        "color": "",
        "guild": "",
        "roles": {
            "role": null,
             "verified": ""
        }
    },
    "keys": {
        "token": ""
    }
}
